@import url('https://fonts.googleapis.com/css?family=Lexend+Deca: 100, 200, 300, 400, 500, 600, 700|Lato|Pacifico|Righteuos|Roboto|Orbitron:100, 200, 300, 400, 500, 600, 700');

body {
    padding: 0%;
    margin: 0%;
    font-family: "Lato";
}

/* Heading */

.navbar {
    background-color: #2B2A2B;
}

.navbar-brand {
    font-family: "Orbitron";
    font-size: 35px;
    color: #F0E9EE !important;
}

.nav-link {
    font-size: 16px;
    margin: 15px;
    color: grey !important;
    font-family: "Orbitron";
}

.nav-link:hover {
    color: #fafafa !important;
}

.action .nav-link {
    color: #fafafa !important;
}


/* Main Container */

.site-content {
    background-color: #BF402A;
    background-size: cover;
}

.site-title,
.site-desc {
    color: #F0E9EE;
    font-family: "Orbitron";
}

.site-title {
    margin-top: 30%;
    margin-bottom: 6%;
    font-size: 50px;
    text-align: center;
}

.site-desc {
    font-size: 14px;
    padding-left: 15%;
}

.site-btn1 {
    background-color: #fafafa;
    font-family: "Orbitron";
}

.site-btn1 {
    margin-top: 5%;
    margin-bottom: 40%;
    margin-left: 30%;
}

/* About Us */

.aboutus .heading-1 {
    margin-top: 8%;
    font-family: "Orbitron";
}

.aboutus .heading-2 {
    margin-bottom: 5%;
    font-size: 39px;
    font-family: "Orbitron";
}

.aboutus .para-1 {
    width: 60%;
    margin-left: 20%;
    margin-bottom: 5%;
    font-family: "Orbitron";
}

.aboutus .card-text,
.para-1 {
    color: #161616;
}

.aboutus {
    margin-bottom: 8%;
}

.card {
    width: 20rem;
}

/* Menu */

.menu .container-fluid {
    background-image: url('../images/berry-cheesecake.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 5%;
}


.m-4 {
    margin: 6.5rem!important;
}

.menu .heading-1 {
    margin-top: 20%;
    margin-bottom: 4%;
    font-family: "Orbitron";
    width: 80%;
    color: #fafafa;
}

.menu .para {
    width: 100%;
    font-family: "Roboto";
    color: #fafafa;
    margin-bottom: 7%;
}

.menu .btn {
    margin-bottom: 15%;
    width: 60%;
    padding: 3% 5%;
}

/* Book a Table */

.col-md-4 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bookatable {
    background-color: lightgrey;
    text-align: center;
}

.bookatable .bookcontent {
    padding-top: 1%;
    padding-bottom: 1%;
}

.bookatable .card-title {
    font-family: "Orbitron";
    padding-bottom: 2%;
    text-align: center;
}

.cardtable {
    max-width: 80%;
}

.card-header {
    font-family: "Orbitron";
}

.card-body {
    font-family: "Orbitron";
}

/* Contact Us */

.contactus {
    margin-top: 0%;
}

.contactus .row .col-md-7 .col-md-5 {
    margin-top: 10%;
    margin-bottom: 10%;
}

.contactus h1 {
    color: white;
    font-family: "Orbitron";
    line-height: 50px;
    font-size: 30px;
    text-decoration: none;
    margin-top: 20%;
}

.contactus .para-1 {
    color: white;
    font-family: "Orbitron";
    font-size: 23px;
    margin-top: 12%;
    margin-bottom: 10%;
}

.contactus .center-form {
    margin-bottom: 10%;
}

.contactus .form-control {
    margin-bottom: 5%;
}

/* Social */

.social {
    font-family: "Orbitron";
}

.social i {
    color: red;
    font-size: 20px;
}

/* Media */

@media screen and (max-width: 995px) {

    .main {
        padding: 0;
    }
    
    .col-md-4 media {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        width: 20rem;
    }

    .menu .card {
        width: 14rem;
    }

    .bookatable .col-md-7 img {
        width: 350px;
    }
}

@media screen and (max-width: 768px) {
    .main {
        padding: 0;
    }

    .menu .card {
        width: 14rem;
    }

    .bookatable .col-md-7 img {
        width: 350px;
    }
}

@media screen and (max-width: 640px) {
    .main {
        padding: 0;
    }

    .site-content .site-title {
        font-size: 30px;
        padding: 15%;
    }

    .site-content .site-btn1 {
        margin-left: 15%;
    }

    .aboutus .heading-1,
    section-1 .heading-2 {
        font-size: 25px;
    }

    .aboutus .col-md-4 {
        padding: 5%;
        margin-left: 8%;
    }

    .aboutus .card {
        width: 15rem;
    }

    .bookatable .col-md-5 {
        width: 15rem;
    }

    footer input[type="button"] {
        margin-top: 5%;
    }
}


@media screen and (max-width: 320px) {
    .main {
        padding: 0;
    }
    .site-content .site-title {
        font-size: 30px;
        padding: 15%;
    }

    .site-content .site-btn1 {
        margin-left: 15%;
    }

    .aboutus .heading-1,
    section-1 .heading-2 {
        font-size: 25px;
    }

    .aboutus .col-md-4 {
        padding: 5%;
        margin-left: 8%;
    }

    .aboutus .card {
        width: 15rem;
    }

    .bookatable .col-md-5 {
        width: 15rem;
    }

    footer input[type="button"] {
        margin-top: 5%;
    }
}
